/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli:300|Source+Serif+Pro&display=swap');
body {
    /* font-family: 'Source Serif Pro', 'Muli'; */
    font-family: 'Montserrat';
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background:black;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #e1a87a;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    font-family: 'Montserrat';
    color: #e1a87a;
}

#sidebar ul.components {
    padding: 20px 0px 20px 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #e1a87a;
    
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    background-color: black;
    font-family: 'Montserrat';
    padding: 15px 10px;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.nav-item {
    color: #b2b2b2;
}

.nav-item.active {
    color: white;
}

.nav-item:hover {
    font-weight: bolder;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#sidebarCollapse {
    background-color: black;
    border-color: #e1a87a;
    color: #e1a87a;

}

.nav-item {
    text-align: right;
}
.collapse-btn {
    color: white;
    background-color: black;
}
/* ---------------------------------------------------
    ABOUT STYLE
----------------------------------------------------- */
#about {
    background-color: #ffffff;
    padding-top: 150px;
    padding-bottom: 80px;
}

#about-header {
    font-family: 'Source Serif Pro';
    /* color: #d48341; */
   
}

#about-section{
    display: flex;
    justify-content: center;
    
}

#about-section p{
    width: 50%;
    
}
/* ---------------------------------------------------
    EDUCATION STYLE
----------------------------------------------------- */
#education {
    background-color: #f0f0f0;
    padding-top: 80px;
    padding-bottom: 80px;
}

#education-header, #college-name, #coursework-title{
    font-family: 'Source Serif Pro';

}

#education-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.education-content {
    width: 50%;
}

.sub-info {
    font-size: 16px;
    color: #d48341;
    margin-bottom: 0px;
}


#college-name {
    font-size: 23px;
    margin-bottom: 0px;
}

#education-head {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

#education-head img {
    max-height: 120px;
    max-width: 120px;
    margin-right: 20px;
    filter: grayscale(100%)
} 

#coursework-title {
    font-size: 21px;
    padding-top: 16px;
}

#coursework {
	display: flex;   /* Allow the centering to work */
    /* margin: 0 auto; */
    flex-flow: row wrap;
    justify-content: space-between;
}


.coursework-subtitle {
    font-weight: bold;
    color: #d48341;
    padding-top: 16px;
}

.sub-coursework {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------
    PROJECTS STYLE
----------------------------------------------------- */
#projects {
    background-color: #1B1B1B;
    padding-top: 80px;
    padding-bottom: 30px;
}

#projects-header {
    font-family: 'Source Serif Pro';
    color: white;
    padding-bottom: 16px;
}

#projects-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#projects-list li {
    padding-bottom: 50px;
}
.projects-subtitle {
    font-weight: bold;
    color: #e1a87a;
    font-size: 18px;
}

.projects-list-content{
    color: white;
    display: flex;
    /* justify-content: flex-start;  */
    flex-direction: column;
    align-items: center;
}

.projects-list-content div {
    width: 50%;
    padding-bottom: 20px;
}

.btn-outline-primary {
    color: #e1a87a;
    border-color: #e1a87a;
}

.btn-outline-primary:hover {
    color: #e1a87a;
    border-color: #e1a87a;
    background-color: #1B1B1B;
    cursor: auto!important;
}



.projects-buttons {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-bottom: 40px;
}

.projects-buttons .btn {
    margin: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
}



/* ---------------------------------------------------
    EXPERIENCE STYLE
----------------------------------------------------- */
#experience {
    background-color: #f0f0f0;
    padding-top: 80px;
    padding-bottom: 80px;
}

#experience-header {
    font-family: 'Source Serif Pro';
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

li.timeline-item {
    margin: 20px 0;
    background-color: #1b1b1b;
    color: white;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #1b1b1b;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

#experience-content {
    display: flex;
    justify-content: center;
}

.experience-text {
    margin-top: 16px;
}

span p {
    margin-bottom: 0px;
    margin-top: 0px;
    color:#e1a87a;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
#footer-content {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-flow: row wrap;
}

#footer-content a:hover {
    color: #e1a87a;
}
